.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: black;
  color: #cfcfcf;
}
.acts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.act {
  display: flex;
  flex-direction: column;
  /*border-top: lightgray dotted 1px;*/
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0) 80%,
    rgb(100, 100, 100) 0%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  width: 100%;
  background-color: #101010;
  margin-bottom: 20px;
}

.actTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actTitle {
  background-color: lightgray;
  color: black;
  padding: 5px 10px 8px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  width: fit-content;
  padding-left: 20px;
}

.actTitleIcon {
  border-radius: 15px;
  padding: 0px 6px;
  padding-bottom: 2px;
  margin: -20px 0px -5px -30px;
  width: min-content;
  font-size: 20px;
  background-color: grey;
  color: white;
}

.actTitleIcon:after {
  font-family: IconFont;
  content: "\2715";
}
.actTitleIcon:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.actAdd {
  background-color: lightgray;
  color: black;
  padding: 5px 10px 8px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  width: fit-content;
}
.actAdd:after {
  font-family: IconFont;
  content: "\2795";
}

.actAdd:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.beats {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.beats > div {
  height: 150px;
  background-color: #303030;
  border-radius: 5px;
  display: flex;
  min-width: 100px;
  margin: 5px;
  padding: 10px;
  flex-direction: column;
  color: #cfcfcf;
  max-width: 400px;
  overflow: hidden;
}
.newBeat {
  align-items: center;
  color: #aaaaaa;
  font-size: 3vw;
  justify-content: center;
  max-height: 100px;
  width: 50px;

  min-height: 84px;
  font-family: IconFont;
  font-weight: 400;
  align-self: center;
}

.newBeat:before {
  content: "\e716";
}

.newBeat:hover {
  color: #cfcfcf;
  background-color: #ffffff;
  cursor: pointer;
}

.overlay__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.overlay__form input {
  margin: 10px;
}
.custom_field {
  font-size: 14px;
  position: relative;
  border-top: 20px solid transparent;
}
.custom_field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 300px;
  font-size: 14px;
  border-top: 20px solid transparent;
}
.custom_field .placeholder {
  position: absolute;
  left: 12px;
  bottom: 50%;
  top: 22px;
  transform: translateY(-50%);
  width: calc(100% - 24px);
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
.custom_field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
}

.overlay_button_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.overlay_button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.overlay_button:hover,
.overlay_button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.overlay_button:hover {
  transform: translateY(-1px);
}

.overlay_button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
